.user-modal {
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid black;
  transform: translate(70%, 50%);
}
.modal-head {
  background-color: rgb(33, 0, 64);
  color: white;
  font-size: medium;
  padding: 10px;
}
.modal-button {
  margin-left: 41%;
  margin-top: 21%;
  padding: 5px;
  width: 100px;
}
